<div class="flex flex-col justify-center items-center h-screen gap-4">
  <div class="flex flex-col gap-2 w-[300px] max-w-[300px]">
    <input
      id="valueInput"
      type="text"
      [(ngModel)]="inputValue"
      class="border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
      placeholder="Input value"
    />
    <p [class]="inputValueValidation().success ? 'text-green-500' : 'text-red-500'">{{ inputValueValidation().message }}</p>

    <div class="mt-10">
      <h3>Validation List</h3>
      <ul class="border-2 border-gray-300 rounded p-2">
        @for (validation of inputValueValidationList(); track validation.message) {
          <li>
            <span [class]="validation.success ? 'text-green-500' : 'text-red-500'">{{ validation.message }}</span>
          </li>
        }
      </ul>
    </div>
  </div>
</div>

